/* Variables */
/* Global */
*, *::before, ::after {
  box-sizing: border-box;
}

.container {
  margin: 64px auto;
}

section {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

/* Header */
header {
  background-image: url(../images/background.png);
  height: 700px;
  max-width: 1400px;
}

.company-name {
  font-family: "Yellowtail", cursive;
  margin-left: 40px;
  color: goldenrod;
  font-size: 26px;
}

.navigation {
  display: flex;
  font-family: "Lato", sans-serif;
}

.navigation ul {
  display: flex;
  margin: auto;
}

.navigation ul li {
  margin-left: 15px;
  list-style-type: none;
}

.navigation ul li a {
  text-decoration: none;
  color: goldenrod;
}

.navigation ul li a:hover {
  color: black;
}

.splash {
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
}

.splash h3 {
  margin-top: 150px;
  font-size: 40px;
  font-family: "Sansita Swashed", cursive;
}

.splash h1 {
  font-size: 75px;
}

.splash .btn {
  margin: auto;
  min-width: 160px;
  max-width: fit-content;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: goldenrod;
}

.splash .btn a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-family: "Lato", sans-serif;
}

.splash .btn a:hover {
  color: gray;
}

/* Services */
.service-title {
  text-align: center;
}

.service-title h1 {
  font-family: "Lato", sans-serif;
}

.service-title h3 {
  font-family: "Sansita Swashed", cursive;
  color: gray;
}

.service-offer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.service-offer i {
  color: grey;
  border: 2px solid grey;
  border-radius: 50%;
  padding: 12px;
  font-size: 24px;
  margin: 0 auto;
}

.service-offer .service-element {
  margin: 2px 12px;
  width: 100%;
}

.service-offer .service-element h4 {
  font-family: "Lato", sans-serif;
}

.service-offer .service-element p {
  font-family: "Sansita Swashed", cursive;
  color: gray;
  padding: 0 20px;
}

.service-offer h4 {
  text-align: center;
}

/* Portfolio */
.portfolio-title {
  text-align: center;
  margin-bottom: 48px;
}

.portfolio-title h1 {
  font-family: "Lato", sans-serif;
}

.portfolio-title h3 {
  font-family: "Sansita Swashed", cursive;
  color: gray;
}

.portfolio-parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.portfolio-parent .portfolio-kid {
  flex: 33,33%;
  text-align: center;
  margin: 12px;
}

.portfolio-parent .portfolio-kid h4 {
  font-family: "Lato", sans-serif;
}

.portfolio-parent .portfolio-kid p {
  font-family: "Sansita Swashed", cursive;
  color: gray;
}

/* Footer */
footer {
  display: flex;
}

footer .copyright {
  flex: 33.33%;
  margin: 0 12px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

footer .media {
  flex: 66.66%;
  display: flex;
  align-items: center;
}

footer .media .media-element {
  margin: 0 10px;
  font-size: 32px;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */