/* Variables */
$f-fancy: 'Yellowtail', cursive;
$f-text: 'Lato', sans-serif;
$f-curvy: 'Sansita Swashed', cursive;

/* Global */
*, *::before, ::after 
{
    box-sizing: border-box;
}
.container
{
    margin: 32px 108px;
}
body
{
    max-width: 1400px;
}

/* Header */
header
{
    background-image: url(../images/background.png);
    height: 700px;
    max-width: 1400px;
    margin: 0 auto;
}
.company-name
{
    font-family: $f-fancy;
    margin-left: 40px;
    color: goldenrod;
    font-size: 26px;
}
.navigation
{
    display: flex;
    font-family: $f-text;

    ul
    {
        display: flex;
        margin: auto;
        li
        {
            margin-left: 15px;
            list-style-type: none;
            
            a
            {
                text-decoration: none;
                color: goldenrod;

                &:hover
                {
                    color: black;
                }
            }
        }
    }
}

.splash
{
    text-align: center;
    color: white;
    font-family: $f-text;
    h3 
    {
        margin-top: 150px;
        font-size: 40px;
        font-family: $f-curvy;
    }
    h1 
    {
        font-size: 75px;
    }

    .btn
    {
        margin: auto;
        min-width: 160px;
        max-width: fit-content;
        padding: 12px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        border: none;
        background-color: goldenrod;
        
        a 
        {
            color: white;
            text-decoration: none;
            font-size: 32px;
            font-family: $f-text;

            &:hover
            {
                color: gray;
            }
        }
    }
}

/* Services */
.service-title
{
    text-align: center;

    h1 
    {
        font-family: $f-text;
    }
        
    h3 
    {
        font-family: $f-curvy;
        color: gray; 
    }

}

.service-offer
{
    display: flex;
    
    i 
    {
        color: grey;
        border: 2px solid grey;
        border-radius: 50%;
        padding: 12px;
        font-size: 24px;
        margin: auto;
    }

    .service-element 
    {
        margin: 2px 12px;
        max-width: 256px;

        h4 
        {
            font-family: $f-text;
        }
        
        p 
        {
            font-family: $f-curvy;
            color: gray;
        }
    }

    h4 
    {
        text-align: center;
    }
}

/* Portfolio */
.portfolio-title 
{
    text-align: center;
    margin-bottom: 48px;
    h1 
    {
        font-family: $f-text;
    }
    h3
    {
        font-family: $f-curvy;
        color: gray;
    }
}
.portfolio-parent 
{
    display: flex;

    .portfolio-kid 
    {
        display: inline-block;
    }
}

/* Footer */
footer 
{
    width: 100%;
    display: flex;

    .copyright 
    {
        display: inline-block;
        width: 33.33%;
    }

    .media
    {
        display: inline-block;
        display: flex;
        width: 66.66%;
        align-items: center;

        .media-element 
        {
            display: inline-block;
            font-size: 32px; 
            margin: 0 8px;
        }
    }
}